.card {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }

  #toDo {
    width: 50rem;
    max-width: 90%;
    margin: 2rem auto;
  }
  
  .fa-square-xmark {
    color: rgb(243, 2, 2);
    cursor: pointer;;
  }

  .fa-square-check {
    color: rgb(8, 100, 49);
    cursor: pointer;
  }

  .fa-square-check:hover {
    color: rgb(8, 100, 49, 0.5);
  }

  .fa-square-xmark:hover {
    color: rgb(243, 2, 2, 0.5);
  }

  #li {
    display: block;
    background-color: rgba(0, 0 , 0, 0.1);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
  }

  i {
    padding: 5px;
    text-align: right;
    position: absolute;
  }

  #li .red-icon {
    right: 40px;
    bottom: 5px;
  }

  #li .green-icon {
    right: 15px;
    bottom: 5px;
  }
  
  #remaining-list {
    padding-left: 0px;
  }

  .a {
    text-decoration: none;
    color: #000;
  }

  h2:hover {
    color: chocolate;
  }